<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration scan="true">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="org.hibernate.metamodel.internal.MetadataContext" level="OFF"/>
    <logger name="com.ulisesbocchio.jasyptspringboot" level="OFF"/>
    <logger name="org.springframework.cloud.openfeign.FeignClientFactoryBean" level="OFF"/>
    <logger name="springfox.documentation.spring.web.readers.parameter.ParameterDataTypeReader" level="OFF"/>
    <logger name="org.springframework.boot.autoconfigure.security.servlet.UserDetailsServiceAutoConfiguration" level="OFF"/>
</configuration>
